*{
    margin: 0;
    padding: 0;
}

/* HEADER */
#tamanioLogo{
    height: 50px;
}

#banner{
    width: 100%;
}

/* MEDIA QUERIES */
/* ICONOS REDES SOCIALES NAVBAR */
@media all and (min-width:992px){
    .navbar_redesSociales{
        display: none;
    }
}